{{ define "title" -}}
{{ .Site.Params.site }} - Find local shops easily
{{- end }}
{{ define "heading" -}}
{{ .Site.Params.site }} - Find local shops easily
{{- end }}
{{ define "main" }}
{{ .Content }}
<section>
  <blockquote>
    <img alt="Quote" src="/img/icon-quote.svg" width="80" height="80">
    <br>
    "Quasi the Yellow Pages in modern"
    <footer>
      <i>- Profpatsch, Hacker</i>
    </footer>
  </blockquote>
</section>
<ul class="columns">
  <li><a href="/alberta/">Alberta</a></li>
  <li><a href="/british-columbia/">British Columbia</a></li>
  <li><a href="/manitoba/">Manitoba</a></li>
  <li><a href="/new-brunswick/">New Brunswick</a></li>
  <li><a href="/newfoundland-and-labrador/">Newfoundland and Labrador</a></li>
  <li><a href="/northwest-territories/">Northwest Territories</a></li>
  <li><a href="/nova-scotia/">Nova Scotia</a></li>
  <li><a href="/nunavut/">Nunavut</a></li>
  <li><a href="/ontario/">Ontario</a></li>
  <li><a href="/prince-edward-island/">Prince Edward Island</a></li>
  <li><a href="/quebec/">Quebec</a></li>
  <li><a href="/saskatchewan/">Saskatchewan</a></li>
  <li><a href="/yukon/">Yukon</a></li>
</ul>
<nav aria-label="Change to landing page">
  <ul>
    <li><a href="https://shoogle.net/overview/">↶ back to landing page</a></li>
  </ul>
</nav>
{{ end }}
