{{ define "title" -}}
{{ .Site.Params.site }}
{{- end }}
{{ define "heading" -}}
Cero seguimiento: pura experiencia de búsqueda
{{- end }}
{{ define "main" }}
{{ .Content }}
<section>
  <blockquote>
    <img alt="Comillas" src="/img/icon-quote.svg" width="80" height="80">
    <br>
    "Quasi las Páginas Amarillas en moderno"
    <footer>
      <i>- Profpatsch, Hacker</i>
    </footer>
  </blockquote>
</section>
<div class="row">
  <div class="col-lg-7">
    <ul class="columns m-0">
      <li><a href="/andalucia/">Andalucía</a></li>
      <li><a href="/aragon/">Aragón</a></li>
      <li><a href="/asturias/">Asturias</a></li>
      <li><a href="/castilla-la-mancha/">Castilla-La Mancha</a></li>
      <li><a href="/castilla-y-leon/">Castilla y León</a></li>
      <li><a href="/cataluna/">Cataluña</a></li>
      <li><a href="/ceuta/">Ceuta</a></li>
      <li><a href="/extremadura/">Extremadura</a></li>
      <li><a href="/galicia/">Galicia</a></li>
      <li><a href="/islas-baleares/">Islas Baleares</a></li>
      <li><a href="/la-rioja/">La Rioja</a></li>
      <li><a href="/madrid/">Madrid</a></li>
      <li><a href="/melilla/">Melilla</a></li>
      <li><a href="/murcia/">Murcia</a></li>
      <li><a href="/navarra/">Navarra</a></li>
      <li><a href="/pais-vasco/">País Vasco</a></li>
      <li><a href="/valencia/">Valencia</a></li>
    </ul>
  </div>
  <div class="col-lg-5">
    {{ partialCached "chat.html" . -}}
  </div>
</div>
<nav aria-label="Pasar a la página del país">
  <ul>
    <li><a href="https://shoogle.net/overview/">↶ volver a la página del país</a></li>
  </ul>
</nav>
{{ end }}
